.auto-data {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0b3758;
    border-color: #FFFFFF;
    border-style: solid;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.auto-data-img {
    margin-left: 300px;
    max-width: 30%;
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.auto-data-rating {
    margin-left: 100px;
    max-width: 20%;
    margin-bottom: 100px;
}

.auto-data h1 {
    color: #FFFFFF;
    font-size: 70px;
    margin-top: 30px;
    text-align: center;
    text-shadow:
        3px 3px 0 #2E79B2,
        -1px -1px 0 #2E79B2,  
        1px -1px 0 #2E79B2,
        -1px 1px 0 #2E79B2,
        1px 1px 0 #2E79B2;
    -webkit-text-stroke: 1px #2E79B2;  
}

.auto-data h2 {
    color: #FFFFFF;
    padding-top: 40px;
    margin-left: 300px;
    margin-right: 500px;
    text-align: left;
}

.auto-data p {
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 300px;
    margin-right: 500px;
    text-align: left;
}

.auto-data h5 {
    color: #FFFFFF;
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 500px;
    text-align: left;
    font-size: 17px;
}