nav {
    background-color: #0b612c;
    overflow: hidden;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100px;
}

#profile, #guest {
    float: right;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 35px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

nav .button:hover {
    color: rgb(179, 176, 176);
    font-size: 20px;
}